<!DOCTYPE html>
<html lang = "en">

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
        <meta charset="utf-8">
        <title> CS Topics </title>
        <style>
            @import url("css/styles.css");
        </style>
        <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    </head>

    <!-- This is where we place the content of our website -->
    <body>