<% include partials/header.ejs %>
        <header> 
            <h1 class = "link"> Computer Science: Topics </h1>    <!--class-->
            <hr> 
        </header>
            <nav> 
                <a href="/index">Main</a>
                <a href="/network">Networks</a>
                <a href="/program">Programming</a>
                <a href="/operate">Operating Systems</a>
            </nav>
            
            <br><br>
            <main> 
                <figure> 
                    <img src="img/prog.png" alt = "alt" width="500" height="400"> 
                </figure>
                
                <div>
                    <p> Programming Languages allow us to give devices instructions according to their purpose. There are many different languages 
                    and each can be used for many different purposes. </p>
                    <table>
                        <tr id ="table-header">
                            <td><strong>Programming Language</strong></td>
                            <td><strong>Uses</strong></td>
                        </tr>
                        <tr class = "table-row">
                            <td>C++</td>
                            <td> Mainly used for developing video game engines. </td>
                        </tr>
                        <tr class = "table-row">
                            <td>Java</td>
                            <td> Mainly used for developing mobile applications. </td>
                        </tr>
                        <tr class = "table-row">
                            <td>HTML</td>
                            <td> Used to develop and design webpages. </td>
                        </tr>
                        <tr class = "table-row">
                            <td>Python</td>
                            <td> Can be used to develop GUI-based apps, network programming, games, and other uses. </td>
                        </tr>
                    </table>
                    <a class = "hyperlink" href = "https://en.wikipedia.org/wiki/List_of_programming_languages">Source </a>
                </div>
            </main>
<% include partials/footer %>